doctype html
html
	head
		title Login
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/auth.css")
	body
		include /include/auth_header.pug
		main
			form(action=action method="post")
				include /include/flash.pug
				section
					label(for="uname") Username
					input(type="text" name="uname")
				section
					label(for="pass") Password
					input(type="password" name="pass")
				section
					input(type="submit" name="submit" value="LogIn")
				section
					a(href="/auth/repass") Forgot password
		script.
			document.getElementById('account_link').classList.add('selected')