doctype html
html
	head
		title 
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/auth.css")
	body
		include /include/auth_header.pug
		main
			form(action="/auth/repass" method="post")
				include /include/flash.pug
				section
					label(for="uname") Username
					input(type="text" name="uname")
				section
					input(type="submit" name="sendtoken" value="Send Token")
		script.
			document.getElementById('account_link').classList.add('selected')