doctype html
html
	head
		title 
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/auth.css")
	body
		include /include/auth_header.pug
		main
			form(action="/auth/setPassword" method="post")
				input(type="hidden" name="uname" value=username)
				input(type="hidden" name="token" value=token)
				section
					h3 #{username}
				include /include/flash.pug
				section
					label(for="pass") Password
					input(type="password" name="pass")
				section
					label(for="re_pass") Re-Type Password
					input(type="password" name="re_pass")
				section
					input(type="submit" name="changepass" value="Set Password")
		script.
			document.getElementById('account_link').classList.add('selected')