doctype html
html
	head
		title Account
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
	body
		include /include/header.pug
		.border_form
			div(style="text-align:center;font-size:24px;font-weight:bold;margin-bottom:40px") Personal details
			form
				table.form_table
					tr
						td Full Name
						td
							input(type="text" name="full_name" value=full_name)
					tr
						td Email
						td
							input(type="email" name="email" value=email)
					tr
						td Phone
						td
							input(type="phone" name="phone" value=phone)
				section(style="display:flex;justify-content:space-around")
					input(type="submit" value="Update", style="margin-top:30px;")
		script.
			document.getElementById('account_link').classList.add('selected')