doctype html
html
	head
		title Admin
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
	body
		include /include/header.pug
		.admin_control
			button#create_ticket.popup_link.btn.btn-primary Create Ticket
			button#create_project.popup_link.btn.btn-primary Create Project
			button#create_user.popup_link.btn.btn-primary Create User
		.popup_bg
			.popup_parent
				#tickets.popup_child
					.ph_container.ticket
						.ph_name Create Ticket
					form(name="ticket_form" id="ticket_form")
						table.ph_config
							tr
								th Name
								td
									input(type="text")
							tr#parent_ticket_query
								th Parent Ticket
								td
									input(type="radio" name="parent_ticket" value="yes")
									|  Yes
									br
									input(type="radio" name="parent_ticket" value="no")
									|  No
							tr.parent_ticket_neg
								th Piority
								td
									select(name="priority")
										option(value=0) Hours (Red)
										option(value=1) Days (Orange)
										option(value=2) Weeks (Yellow)
										option(value=3) Months (Green)
										option(value=4) Casual (Blue)
							tr.parent_ticket_neg
								th Project
								td
									input(type="radio" name="project")
									|  Merchant Application
									br
									input(type="radio" name="project")
									|  Consumer Application
							tr.parent_ticket_neg
								th Hanlder(s)
								td
									input(type="checkbox" name="handlers")
									|  Ahmed Noor
									br
									input(type="checkbox" name="handlers")
									|  Abin P
									br
									input(type="checkbox" name="handlers")
									|  Mortaza
						.ph_desc
							h2 Description
							.md_render_container
								.md_render_control
									a#md_text_1.md_event Text
									a#md_render_1.md_event Rendered
								.md_render_box
									#md_text_box_1
										textarea(name="desc_text")
									#md_render_box_1
										h3 Rendered
						.ph_desc(style="display:flex;justify-content:space-around")
							input.btn.btn-primary(type="button" value="Create")
				#projects.popup_child
					.ph_container.ticket
						.ph_name Create Project
					form(name="project_form" id="project_form")
						table.ph_config
							tr
								th Name
								td
									input(type="text")
							tr
								th Group
								td
									input(type="checkbox" name="project")
									|  Ahmed Noor
									br
									input(type="checkbox" name="project")
									|  Abin P
									br
									input(type="checkbox" name="project")
									|  Mortaza
						.ph_desc
							h2 Description
							.md_render_container
								.md_render_control
									a#md_text_2.md_event Text
									a#md_render_2.md_event Rendered
								.md_render_box
									#md_text_box_2
										textarea
									#md_render_box_2
										h3 Rendered
						.ph_desc(style="display:flex;justify-content:space-around")
							input.btn.btn-primary(type="button" value="Create")
				#users.popup_child
					.ph_container.ticket
						.ph_name Create User
					form(name="user_form" id="user_form")
						table.ph_config
							tr
								th Username
								td 
									input(type="text")
							tr
								th Full Name
								td 
									input(type="text")
							tr
								th Email
								td 
									input(type="email")
							tr
								th Type
								td
									select(name="type")
										option(selected) user
										option superuser
						.ph_desc
							input.btn.btn-primary(type="button" value="Create")
		script(src="js/popup.js")
		script(src="js/markdown.js")
		script(src="js/views/admin.js")