include include/mixins.pug

doctype html
html
	head
		title Welcome
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet" href="css/index.css")
		script(src="js/vanilla.js")
	body
		include include/header.pug
		god
			section#projects
				div.sec_name Projects
				projects
			section#tickets
				div.sec_name Tickets
				tickets
					+make_ticket(12354, "Make me rich", "Abnakdjsbaksdbalsj bkaj nkaj sdkajsdolasj")
					+make_ticket(3452, "yolou", "aasdf asdf asdf")
			section#chats
				div.sec_name Chats
				div#chatbox 
					textarea(placeholder="Type a message...")
		script(src="js/main.js")