doctype html
html
head
	title Log In
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet" href="/css/flash.css")
	link(rel="stylesheet" href="/css/login.css")
body
	main
		form(action="/auth/login" method="post")
			include include/flash.pug
			section
				label(for="uname") Username
				input(type="text" name="uname")
			section
				label(for="pass") Password
				input(type="password" name="pass")
			section
				input(type="submit" name="submit" value="LogIn")
			section
				a(href="/auth/repass") Forgot password