<h2 id="lists">Lists</h2>

<p>Unordered</p>

<ul>
<li>Create a list by starting a line with <code>+</code>, <code>-</code>, or <code>*</code></li>

<li>Sub-lists are made by indenting 2 spaces:


<ul>
<li>Marker character change forces new list start:</li>

<li>Ac tristique libero volutpat at</li>

<li>Facilisis in pretium nisl aliquet</li>

<li>Nulla volutpat aliquam velit</li></ul>
</li>

<li>Very easy!</li>
</ul>

<p>Ordered</p>

<ol>
<li><p>Lorem ipsum dolor sit amet</p></li>

<li><p>Consectetur adipiscing elit</p></li>

<li><p>Integer molestie lorem at massa</p></li>

<li><p>You can use sequential numbers...</p></li>

<li><p>...or keep all the numbers as <code>1.</code></p></li>
</ol>

<p>Start numbering with offset:</p>

<ol>
<li>foo</li>

<li>bar</li>
</ol>