html
head
	title Set Password
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet" href="/css/login.css")
	style.
		input[type='text'], input[type="password"]{
			width:100%;
		}
body
	main
		form(action="/auth/setPassword" method="post")
			input(type="hidden" name="uname" value=username)
			input(type="hidden" name="token" value=token)
			section
				h3 #{username}
			section
				label(for="pass") Password
				input(type="password" name="pass")
			section
				label(for="re_pass") Re-Type Password
				input(type="password" name="re_pass")
			section
				input(type="submit" name="changepass" value="Set Password")