doctype html
html
	head
		title Tickets
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
	body
		include /include/header.pug
		table.info_table(cellspacing=0)
			tr
				th Name
				th Project
				th Handler
				th Priority
				th Created On
			tr.popup_link
				td Navigation Bar
				td Merchant App
				td Mortaza
				td 
					.priority
				td 11-12-2018
			tr.popup_link
				td Map
				td Main App
				td Ahmed Noor
				td 
					.priority
				td 11-12-2018
		.popup_bg
			.popup_parent
				.popup_child
					.ph_container.ticket
						.ph_name Navigation Bar
					.flash_card.fc_ok Ticket Updated!
					table.ph_config
						tr
							th Project
							td Chillar Merchant App
						tr
							th Handler
							td Mortaza
					.ph_desc
						h2 Description
						.ph_desc_container
							include md.html
					.ph_desc
						h2 Documentation
						.md_render_container
							.md_render_control
								a#md_text.md_event Text
								a#md_render.md_event Rendered
							.md_render_box
								#md_text_box
									textarea
								#md_render_box
									h3 Rendered
					.ph_desc(style="display:flex;justify-content:space-around")
						input.btn.btn-primary(type="submit" value="Update")
						input.btn.btn-primary(type="button" value="Complete")
						//.ph_desc_container
							include md2.html
		script(src="js/popup.js")
		script(src="js/markdown.js")
		script(src="js/views/tickets.js")