main {
	display: flex;
	justify-content: space-around;
}

label {
	border-bottom:4px;
}

a, a:visited{
	color: #007bff;
	font-size: 15px;
}

input[type="text"], input[type="password"]{
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-top: 4px;
	outline:0;
}

form {
	width: 200px;
	margin-top: 140px;
}

section {
	margin-bottom: 10px;
}

section:last-child {
	margin-bottom: 0;
}

input[type="button"], input[type="submit"] {
	float: right;
}