@font-face{
	font-family: 'open-sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
}

@font-face{
	font-family: 'open-sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
	font-weight: bold;
}

body{
	position: fixed;
	display: flex;
	margin:0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

*{
	font-family: 'open-sans';
}

header {
	display: flex;
	width: 200px;
	height: calc(100% - 100px);
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 10px;
	border-right: 1px solid lightgrey;
}

#logo {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}

nav {
	display: flex;
	flex-direction: column;
	float:left;
}

nav[class="bottom"] {
	margin-top: 20px;
}

nav > a {
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
	color: grey;
}

god {
	width: calc(100% - 260px);
	display: flex;
	padding: 20px;
	float: left;
}

#tickets {
	width: 500px;
}

.sec_name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

tickets {
	display: flex;
	flex-direction: column;
}

ticket > * {
	margin-bottom: 5px
}

ticket > :last-child {
	margin-bottom: 0px
}

ticket {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius:5px;
	margin-bottom: 10px;
}

ticket:hover {
	background: #eee;
	cursor: pointer;
}

ticket > id {
	color: grey;
}
ticket > id:before {
	content: '#';
}

ticket > name {
	color: darkred;
	font-weight: bold;
	font-size: 18px;
}
