header
	.left_nav
		#logo CHLR
		.nav_bar
			if super_user
				.nav(id="admin_link") 
					a(href="/su") Admin
			.nav(id="projects_link") 
				a(href="/project") Projects
			.nav(id="tickets_link", href="tickets.html") 
				a(href="/ticket") Tickets
	.right_nav
		.nav_bar
			.nav(id="account_link" style="height:42px")
				a(href="/account") Account
			.nav(id="logout_link" style="height:42px")
				a(href="/auth/logout") LogOut