header
	#logo 
		b Corp Name
	nav.main
		span(style="text-align:center")
			b SUPERUSER
		a(href="/su/projects") Projects
		a(href="/su/tickets") Tickets
		a(href="/su/users") Users
	nav.bottom
		a(href="#") LogOut